body {
  background-color: Ivory;
}
h1 {
  background-color: SlateGrey;
  padding: 30px;
  text-align: center;
  font-family: Arial;
  font-size: 40px;
  color: White;
}

h2 {
  font-family: sans-serif;
  font-size: 25px;
  color: MidnightBlue;
}

ul {
  color: Black}

li {
  font-family: Arial;
  font-size: 20px;
}

footer {
    background-color: MidnightBlue;
    padding: 10px;
    text-align: center;
    font-family:cursive;
    font-size: 30px;
    color: white;
  }

  img {

  border: 10px solid Maroon
  }










/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
